<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      img{
        width: 40%;
      }
      
  </style>
</head>
<body>
  <nav>
    <li><a routerLink="/loja"><img src="../assets/MARADONAS.png" alt=""></a></li>
    <ul>
      <li><a routerLink="/ofertas-especiais">Ofertas Especiais</a></li>
      <li><a routerLink="/loja">Loja</a></li>
      <li><a routerLink="/cadastrar-desejos">Cadastrar Desejos</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>

