/* Estilos para o cabeçalho (header) */
nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center; /* Centraliza o texto horizontalmente */
  }
  
  nav ul {
    padding: 0;
    justify-content: space-around;
    display: flex;
  }
  
  nav li {
    display: inline; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* Espaçamento entre os itens da lista */
    
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    padding: 2%;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    width: 200%;
    }
  
  nav a:hover {
    text-decoration: underline;
  }
  /* Estilos globais */
